body{
    background-image: url("6020302.jpg");

}

h1 {
    font-size: medium;

}

p {
    background-color: pink;
h1{
    color: crimson;}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}